{% extends 'base.html' %}
{% block title %}Nail Salon | Log in{% endblock %}
{% block content %}
<main>
    <div class="container mt-5 position-relative">
        <form method="POST" class="position-absolute top-0 start-35">
            {{ form.hidden_tag() }}
            <div class="form-group row mt-5">
                <h1>Log in</h1>
                {{ form.email_address.label(class="col-3 col-form-label") }}
                <div class="col-6">
                    {{ form.email_address(class="form-control", placeholder="example@email.org") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.password.label(class="col-3 col-form-label") }}
                <div class="col-6">
                    {{ form.password(class="form-control", placeholder="Your Password") }}
                </div>
            </div>
            {{ form.submit(class="btn btn-success mt-2") }}
        </form>
    </div>
</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="margin-top: 29.5rem!important;">
{% endblock %}
