{% extends 'base.html' %}
{% block title %}Nail Salon | Log in{% endblock %}
{% block content %}
<main>
    <div class="container mt-5 position-relative">
        <form method="POST" class="position-absolute top-0 start-35">
            <div class="form-group row mt-5">
                <h1>Log in</h1>
                <label class="col-3 col-form-label" for="email">Email</label>
                <div class="col-6">
                    <input type="email" name="email" id="email" class="form-control" minlength="4" maxlength="319" placeholder="example@email.org" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" for="password">Password</label>
                <div class="col-6">
                    <input type="password" name="password" id="password" class="form-control" minlength="8" maxlength="64" required>
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-2">Sign up</button>
        </form>
    </div>
</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="margin-top: 29.5rem!important;">
{% endblock %}
