{% extends 'base.html' %}
{% block title %}Nail Salon | Credits{% endblock %}
{% block content %}
<main>
    <div class="container mt-2">
        <h1>Orders</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Service Name</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.service_name }}</td>
                    <td>{{ order.customer_full_name }}</td>
                    <td>{{ order.status.status_name }}</td>
                    <td><a href="/master/orders/1" class="btn btn-primary">Show more</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    {% endblock %}
