{% extends 'base.html' %}
{% block title %}Nail Salon | Sign up{% endblock %}
{% block content %}
<main>
    <div class="container mt-2 position-relative">
        <form method="POST" class="mt-3 position-absolute top-0 start-35">
            {{ form.hidden_tag() }}
            <div class="form-group row">
                <h1>Sign up</h1>
                {{ form.full_name.label(class="col-3 col-form-label") }}
                <div class="col-6">
                    {{ form.full_name(class="form-control", placeholder="Johny Doe") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.email_address.label(class="col-3 col-form-label") }}
                <div class="col-6">
                    {{ form.email_address(class="form-control", placeholder="example@email.org") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.password.label(class="col-3 col-form-label") }}
                <div class="col-6">
                    {{ form.password(class="form-control", placeholder="New Password") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.confirm_password.label(class="col-3 col-form-label") }}
                <div class="col-6">
                    {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.work_experience.label(class="col-3 col-form-label") }}
                <div class="col-6">
                    {{ form.work_experience(class="form-control", value="0", min="0", max="99", placeholder="(number of years)") }}
                </div>
            </div>
            {{ form.submit(class="btn btn-success mt-2") }}
        </form>
    </div>
</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="margin-top: 29.5rem!important;">
{% endblock %}
